.Home {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 75px 10fr 10fr;
    grid-template-areas: 
    'lt-sidebar nav rt-sidebar'
    'lt-sidebar home-top rt-sidebar'
    'lt-sidebar home-bottom rt-sidebar';
    height: 100vh;
    width: 100vw;
}