.Home {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    '. . .'
    '. . .'
    '. calendar .';
    position: absolute;
    top: 325px;
    right: 300px;
    width: 863px;
    
}