.user-page-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
    '. performance-information .';
    height: 100vh;
    width: 100vw;
}

.performance-information {
    grid-area: performance-information;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'events groups'
}