.calendar-slide-out-where-button {
    grid-area: where;
    border-style: solid;
    border-radius: 5px;
    border-color: lightyellow;
    background-color: lightpink;
    animation: fadein 3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
    
}
    .where-button-words {
        font-size: 35px;
        color: white;
        margin: 0;

}
