.event-container {
    overflow-y: scroll;    
    height: 473px;
    position: absolute;
    right: 0;
    top: 0;
}
.event-container-grid {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 2px;
    grid-template-areas: 
    "title"
    "input1"
    "input2"
    "input3"
    "input4"
    "input5";
    width: 288px;

   
    z-index: 2;
}

.title {
    grid-area: title;
}

.input1 {
    grid-area: input1;
}

.input2 {
    grid-area: input2;
}

.input3 {
    grid-area: input3;
}