.window {
    grid-area: calendar-container; 
    display: block;
    overflow-y: scroll;
    height: 478px;

    border-style: solid;
    border-color: pink;
    border-radius: 20px;
}


.window-grid {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 2px;
    grid-template-areas: 
    "title"
    "input1"
    "input2"
    "input3"
    "input4"
    "input5";

}

.title {
    grid-area: title;
}

.input1 {
    grid-area: input1;
}

.input2 {
    grid-area: input2;
}

.input3 {
    grid-area: input3;
}

